<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Raygun.Owin Sample</title>
</head>
<body>
<form action="/form-error" method="POST">
    <table>
        <tr>
            <td>User Name</td>
            <td>
                <input type="text" name="userName" value="robbie"/>
            </td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>
                <input type="text" name="fullName" value="robbie the robot"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password" value="0110100001101001"/>
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>
</body>
</html>